@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", "sans-serif";
}

.menuLink {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding: 1rem;
}
